@{
  Layout = "_Layout";
}

<h1>Pierre's Bakery</h1>
<h2>Welcome to you personal vendor and order tracker</h2>

<br>

<h2>What would you like to do today?</h2>

<br>

<h3><a href="">View vendors</a></h3>

<br>

<h3><a href="/Vendor/new">Add a new vendor</a></h3> 
